.sideBar--listNames{
    display: inline;
    list-style-type: none;
    font-size: 2.5vh;
    color: white;
}

.sideBar--namesContainer{
    background-color: #427aa1;
    text-align: center;
    padding: 2px;
    margin: 1.5px;
}

.sideBar{
    display: inline-block;
    margin-bottom: auto;
    padding: 2.5px;
}

.sideBar > ul{
    padding: 0px;
}

.sideBar--delete{
    background-color: #064789;
    margin-left: 10px;
    float: right ;
    border: 0px;
    color:  #ebf2fa;
    border-radius: 10px;
}

.sideBar--delete:hover{
    background-color:#ebf2fa;
    color:#064789;
}